.container-card {
  width: 100vw;
  background-color: red;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 0 auto;
}

.card {
  background-color: white;
  border: 1px solid black;
}

.card img {
  max-width: 100%;
}